<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "HOME_PAGE.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-container">
    <div class="start-scan txt-bold" *ngIf="homeStep === 'start'" (click)="startScan()">
      <ion-icon name="search-circle-outline"></ion-icon>
      <div>{{ "HOME_PAGE.START_SCAN" | translate }}</div>
    </div>
    <div class="txt-bold" *ngIf="homeStep === 'loading'">
      <div><ion-spinner name="dots"></ion-spinner></div>
      <div>{{ "HOME_PAGE.LOADING" | translate }}</div>
    </div>
    <div class="waiting-gif" *ngIf="homeStep === 'waiting'">
    </div>
    <div class="txt-bold pad-50" *ngIf="homeStep === 'error'">
      <div class="error">{{ "HOME_PAGE.ERROR" | translate }}</div>
      <ion-button expand="block" (click)="newScan()">{{ 'HOME_PAGE.SCAN_AGAIN' | translate }}</ion-button>
    </div>
    <div class="txt-bold pad-50" *ngIf="homeStep === 'success'">
      <div class="count">{{ count }}</div>
      <div>{{ "HOME_PAGE.COUNT_LABEL" | translate }}</div>
      <div class="date">{{ time | date:'dd/MM/yyyy hh:mm'}}</div>
      <div *ngIf="!geoError">
        <div>GPS</div>
        <div>{{lat}}, {{lng}}</div>
      </div>
      <ion-button class="btn-retry" expand="block" (click)="newScan()">{{ 'HOME_PAGE.SCAN_AGAIN' | translate }}</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer class="page-footer ion-no-border">
  <div class="inner-logo"></div>
</ion-footer>
